body {
  background-color: darkgrey;
  font-size: 100%;
}
h1 {
  color: black;
}
p {
  color: black;
}
.title {
  color: black;
  font-family: Arial;
  font-size: 5vw;
}
.littleText {
  color: black;
  font-size: 2.4vw;
  font-family: 'Courier New', monospace;
}
.centerTitle {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}
.signIn {
  margin: auto;
  display: flex;
  align-items: center;
  width: 50%;
  padding: 40px;
}
.centAlign {
  align-items: center;
}
.pass {
  color: black;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.75vw;
  text-align: center;
}
.alignRight{
  align-items: right;
  width: 45%;
}
.alignLeft {
  align-items: left;
}
.passEnt {
  color: black;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5vw;
  text-align: center;
}
.passEnt {
  display: inline-block;
  border-radius: 4px;
  background-color: #8B0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5vw;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.passEnt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.passEnt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.passEnt:hover span {
  padding-right: 25px;
}
.passEnt:hover span:after {
  opacity: 1;
  right: 0;
}
